@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/*basic*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: MintCream;
  }

  /* Botão */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: none;
    border: 2px solid;
    border-color: dodgerblue;
    color: dodgerblue;
    cursor: pointer;
    display: inline-block;
    padding: 0.90em 1.2em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background: dodgerblue;
    color: white;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    border-color: inherit;
    color: inherit;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
    background: white;
    color: dodgerblue;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

  /*menu lateral*/
  .sidebar {
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #222222;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: block;
  }
  
  .sidebar a {
    display: block;
    color: #777777;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: dodgerblue;

    color: white;
  }

  .sidebar a.active:hover  { 
    background-image: linear-gradient(to right, slateblue,royalblue, dodgerblue);
  }

  .sidebar a.deslogar:hover {
     background-image: linear-gradient(to right,red,orangered);
  }

  .sidebar a.menuleft:hover {
    background-image: linear-gradient(to right,dodgerblue,#222222);
  }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
   /*barra top da página (ao lado do campo home)*/
   .barup {
    background-color: dodgerblue;
    color:white;
    height: 53.5px;
    display: block;
}
/*campo aonde está escrito o nome da página*/
.nomepage {
  line-height: 0.2;
}
.nomepage  h4{
background-color: MintCream;
color: #555555;
font-size: 1em;
text-transform: uppercase;
display: block;
padding-top: 3%;
padding-left: 2%;
padding-bottom: 0;
margin-top: 0;
height: 10%;
padding-bottom: 1%4;
}
.nomepage h5{
  padding-top: 0;
  background-color: MintCream;
  color: black;
  opacity:0.4;
  font-size: .8em;
  display: block;
  padding-left: 2%;
  margin-top: 0;
  height: 10%;
  }

.textpage {
  padding: 2% 3% 2% 3%;
}
  /*página do conteudo*/
  .row {
    background-color: white;
    display: flex;
  }
  div.content {
    margin-left: 17%;
    height: 1000px;
    width: 83%;
    padding: 0;
    background:MintCream;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0; width: 100%;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align:left;
      float: none;
    }
  }
 
/*risco divisor rodapé*/
  #divisaorodape {
    background-color:black;
    height: 1px;
    margin-bottom: 2%;
    width: 100%;
}
/*botão scroll*/
.voltar-ao-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
/* Copyright */

.Copyright {
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-bottom: 3%;
    background-color:MintCream;
}
/*pop up*/
.modal-container {
			width: 100vw;
			height: 100vh;
			background: rgba(0,0,0,.5);
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 2000;
			display: none;
			justify-content: center;
			align-items: center;
		}

		.modal-container.mostrar {
			display: flex;
		}

		.modal {
			background: white;
			width: 40%;
			min-width: 300px;
			padding: 3%;
			box-shadow: 0 0 0 10px white;
			position: relative;
		}

		@keyframes modal {
			from {
				opacity: 0;
				transform: translate3d(0, -60px, 0);
			}
			to {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}

		.mostrar .modal {
			animation: modal .3s;
		}

		.fechar {
			position: absolute;
			font-size: 1.8em;
			top: 0px;
			right: 0px;
			width: 50px;
      height: 50px;
      border: none;
			background: white;
			color: red;
      cursor: pointer;
      font-weight: 900;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
       user-select: none;
    }
    
  /* Botão pop*/

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .popupbt {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: none;
      border-radius: 5px;
      background-color:dodgerblue;
      color: white;
      cursor: pointer;
      display: inline-block;
      padding: 1em 1em;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.7em;
      -moz-transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:hover {
      background: dodgerblue;
      color: white;
  }
  
  input[type="submit"].alt,
  input[type="reset"].alt,
  input[type="button"].alt,
  .button.alt {
      border-color: inherit;
      color: inherit;
  }
  
  input[type="submit"].alt:hover,
  input[type="reset"].alt:hover,
  input[type="button"].alt:hover,
  .button.alt:hover {
      background: white;
      color: dodgerblue;
  }
  
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  .button.fit {
      width: 100%;
  }
  
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  .button.small {
      font-size: 0.5em;
  }
/*grid itens */

.grid-template-columns-3 {
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 7%;
  margin-right: 7%;
}

@media screen and (max-width: 700px) {
  .grid-template-columns-3 {
      margin: 0;
  }
}

.subgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border-bottom: 1px solid 	#A9A9A9;
}

.subgrid > div {
  background: MintCream;
  padding: 3%;
  text-align: center;
  font-weight: 700;
}

.final {
  margin-top: 10%;
}

#formsenha {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.form-control{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius:5px;
    margin: 0 auto;
    display:block;
    margin: 20px;
    background: inherit;
    width: 60%;

}

#trocasenha {
    color:#fff;
    padding: 8px;
    margin: 20px;
    border:1px solid dodgerblue;
    border-radius: 5px;
    background: dodgerblue;
}

label {
    font-weight: 300;
    font-size: 0.9em;
    margin: 20px;
}